{% extends "base.html.twig" %}

{% block body %}

    <section>
        <div class="container margin-30">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="text-orange">Gérer les articles</h1>
                </div>
                <div class="col-lg-6 flex-end">
                    <div>
                        <button type="button" class="btn btn-outline-secondary"><a
                                    class="btn-outline-secondary" href="/P5-Blog/admin/createPost/">
                                Nouvel article</a></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <table id="listPosts" class="display margin-30">
                <thead class="text-orange center">
                <tr>
                    <th>Catégorie</th>
                    <th>Date de l'article</th>
                    <th>Titre de l'article</th>
                    <th>Image</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for adminPost in adminPosts %}
                   <tr>
                            <td class="center">{{ adminPost.category }}</td>
                            <td class="center">{{ adminPost.creationDate | date(U) }}</td>
                            <td class="center"">{{ adminPost.title }}</td>
                            <td class="center"><img class="admin-img no-margin" src="/P5-Blog/img/{{ adminPost.img }}"
                                                                   alt="..."></td>
                            <td class="center">{{ adminPost.status }}</td>
                            <td class="space-evenly align-items-center">
                                <a href="/P5-blog/admin/updatePost:{{ adminPost.id }}:{{ currentPage }}"><i
                                            title="Modifier l'article" style="color: #6c757d;"
                                            class="fas fa-pen-square fa-2x"></i></a>
                                <a href="/P5-blog/admin/updateStatusPost:{{ adminPost.id }}:2:{{ currentPage }}"><i
                                            title="Archiver l'article" style="color: #6c757d;" class="fas fa-archive fa-2x"></i></a>
                                <a href="/P5-blog/admin/updateStatusPost:{{ adminPost.id }}:3:{{ currentPage }}"><i
                                            title="Mettre en ligne l'article" style="color: #6c757d;"
                                            class="fas fa-globe fa-2x"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>


{% endblock %}

{% block footer %} {% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#listPosts').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        if (this.selector.cols === 4) {
                            var column = this;
                            var select = $('<select><option value="">Tous</option></select>')
                                .appendTo($("#listPosts_filter").empty().append('<label>Filtrer&nbsp;</label>'))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }
                    } );
                },
                "columnDefs": [
                    { "width": "20%", "targets": 0 },
                    { "width": "10%", "targets": 1 },
                    { "width": "30%", "targets": 2 },
                    { "width": "10%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "25%", "targets": 5 }
                ],
                "responsive":true,
                "pageLength": 6,
                "ordering": false,
                "language": {
                    "infoFiltered":   "sur _MAX_ ",
                    "info": "_TOTAL_ articles",
                    "lengthMenu":     "Afficher _MENU_ articles",
                    "paginate": {
                        "next": "Suivante",
                        "previous": "Précédente"
                    },
                }

            } );
        } );
    </script>

{% endblock %}
