{% extends "base.html.twig" %}

{% block body %}

    <section>
        <div class="container margin-30">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="text-orange">Gérer les articles</h1>
                </div>
                <div class="col-lg-6 flex-end">
                    <div>
                        <button type="button" class="btn btn-outline-secondary"><a
                                    class="btn-outline-secondary" href="?p=adminAddPost">
                                Nouvel article</a></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">

            {% for adminPost in adminPosts %}
                {% set style="" %}
                {% if loop.index is not divisible by(2) %}
                    {% set style="background-color: #f7c69e;" %}
                {% endif %}
                <div class="row" style="{{ style }}">
                    <div class="col-lg-2 align-self-center">{{ adminPost.category }}</div>
                    <div class="col-lg-2 align-self-center">{{ adminPost.creationDate | date(U) }}</div>
                    <div class="col-lg-2 align-self-center">{{ adminPost.title }}</div>
                    <div class="col-lg-2 flex-center"><img class="admin-img no-margin" src="img/{{ adminPost.img }}"
                                                           alt="..."></div>
                    <div class="col-lg-2 align-self-center">{{ adminPost.status }}</div>
                    <div class="col-lg-2 space-evenly align-items-center">
                        <a href="/P5-blog/public/?p=adminModifyPost&page={{ currentPage }}&article={{ adminPost.id }}"><i
                                    title="Modifier l'article" style="color: #6c757d;"
                                    class="fas fa-pen-square fa-2x"></i></a>
                        <a href="/P5-blog/public/?p=adminPosts&page={{ currentPage }}&action=archivePost&adminArticle={{ adminPost.id }}"><i
                                    title="Archiver l'article" style="color: #6c757d;" class="fas fa-archive fa-2x"></i></a>
                        <a href="/P5-blog/public/?p=adminPosts&page={{ currentPage }}&action=validatePost&adminArticle={{ adminPost.id }}"><i
                                    title="Mettre en ligne l'article" style="color: #6c757d;"
                                    class="fas fa-globe fa-2x"></i></a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <nav class="post-footer margin-100" aria-label="Page navigation example">
            <ul class="pagination pagination-template d-flex justify-content-center">

                <li class="page-item{% if currentPage == 1 %} disabled {% endif %}"><a
                            href="/P5-blog/public/?p=adminPosts&page={{ currentPage - 1 }}" class="page-link"> <i
                                class="fa fa-angle-left"></i></a></li>
                {% for numPage in 1..nbPages %}
                    <li class="page-item{% if currentPage == numPage %} active {% endif %}"><a
                                href="/P5-blog/public/?p=adminPosts&page={{ numPage }}"
                                class="page-link">{{ numPage }}</a></li>
                {% endfor %}
                <li class="page-item{% if currentPage == nbPages %} disabled {% endif %}"><a
                            href="/P5-blog/public/?p=adminPosts&page={{ currentPage + 1 }}" class="page-link"> <i
                                class="fa fa-angle-right"></i></a></li>
            </ul>
        </nav>

    </section>


{% endblock %}

{% block footer %} {% endblock %}
