<section class="modal fade newsletter divider" id="SignInModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modalTitle" id="exampleModalCenterTitle">Connectez-vous</p>
                <button type="reset" class="close" id="resetSignInTimes" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-gray">
                <form id="signInForm" action="/P5-Blog/users/login" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="type" value="sign-in">
                    <input type="hidden" name="redirect" value="">
                    <label for="email" class="text-orange">
                        Votre email :
                    </label>
                    <input class="select-width-100" type="text" name="email" id="email" required>
                    <label for="password" class="text-orange">
                        Votre mot de passe :
                    </label>
                    <input class="select-width-100" type="password" name="password" id="password" required>
                    <div class="margin-100 margin-30 width-100 flex-center space-evenly">
                        <button type="submit" class="submit">Se connecter</button>
                    </div>
                    <div class="space-evenly margin-30">
                        <a data-toggle="modal" data-target="#ForgotPasswordModal" role="button" data-dismiss="modal"
                           aria-expanded="false" aria-controls="ForgotPasswordModal">Mot de passe oublié</a>
                        <a data-toggle="modal" data-target="#AddUserModal" role="button" data-dismiss="modal"
                           aria-expanded="false" aria-controls="AddUserModal">Créer un compte</a>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-primary" id="resetSignInBtn" data-dismiss="modal"
                                aria-label="Close">Annuler
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="modal fade newsletter divider" id="ForgotPasswordModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modalTitle" id="exampleModalCenterTitle2">Mot de passe oublié</p>
                <button type="reset" class="close" id="resetForgotPassword" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-gray">
                <form id="ForgotPasswordForm" action="/P5-Blog/users/resetPassword" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="type" value="forgot-password">
                    <input type="hidden" name="redirect" value="">
                    <label for="email2" class="text-orange">
                        Votre email :
                    </label>
                    <input class="select-width-100" type="text" name="email" id="email2" required>
                    <div class="margin-100 margin-30 width-100 flex-center space-evenly">
                        <button type="submit" class="submit">Envoyer</button>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-primary" id="resetForgotPassword2" data-dismiss="modal">
                            Annuler
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% if resetPassword %}
<section class="modal fade newsletter divider" id="resetPasswordModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modalTitle" id="exampleModalCenterTitle3">Mot de passe oublié</p>
                <button type="reset" class="close" id="restPasswordForm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-gray">
                <form id="restPasswordForm" action="/P5-Blog/users/updatePassword" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="type" value="reset-password">
                    <input type="hidden" name="redirect" value="">
                    <input type="hidden" name="email" value="{{ email }}">

                    <label for="newPassword" class="text-orange">
                        Nouveau mot de passe :
                    </label>
                    <input class="select-width-100" type="password" name="newPassword" id="newPassword" required>
                    <label for="password" class="text-orange">
                        Confirmez le nouveau mot de passe :
                    </label>
                    <input class="select-width-100" type="password" name="confirmedNewPassword"
                           id="confirmedNewPassword" required>
                    <div class="margin-100 margin-30 width-100 flex-center space-evenly">
                        <button type="submit" class="submit">Envoyer</button>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-primary" id="restPasswordForm2" data-dismiss="modal">
                            Annuler
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <section class="modal fade collapse text-small newsletter divider" id="AddUserModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modalTitle" id="exampleModalCenterTitle4">Créez un compte</p>
                    <button type="reset" class="close" id="resetSignUp" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-gray">
                    <form id="AddUserForm" class="select-width-100" action="/P5-Blog/users/addUser" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="token" value="{{ token }}">
                        <input type="hidden" name="type" value="add_user">
                        <input type="hidden" name="redirect" value="">
                        <input type="hidden" name="isAdmin" value="0">
                        <div class="form-holder">
                            <div class="form-group container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="firstname" class="text-orange">
                                            Votre prénom : *
                                        </label>
                                        <input class="select-width-100" type="text" name="firstname" id="firstname" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lastname" class="text-orange">
                                            Votre nom : *
                                        </label>
                                        <input class="select-width-100" type="text" name="lastname" id="lastname" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="avatar" class="text-orange">
                                            Votre avatar :
                                        </label>
                                        <input class="select-width-100 height-60" type="file" name="avatar" id="avatar">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="email3" class="text-orange">
                                            Votre email : *
                                        </label>
                                        <input class="select-width-100" type="email" name="email" id="email3" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="password2" class="text-orange">
                                            Votre mot de passe : *
                                        </label>
                                        <input class="select-width-100" type="password" name="password" id="password2" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="passwordConfirmed" class="text-orange commentsList">
                                            Confirmez votre mot de passe *
                                        </label>
                                        <input class="select-width-100" type="password" name="passwordConfirmed"
                                               id="passwordConfirmed" required>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-orange">* Champs obligatoires</p>
                                </div>
                                <div class="row">
                                    <div class="margin-100 width-100 flex-center space-evenly col-sm-12">
                                        <button type="submit" class="submit">S'inscrire</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary" id="resetSignUp2" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </section>

    {% if userExist %}
        <section class="modal fade newsletter divider" id="alreadyKnown" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-gray" id="exampleModalCenterTitle5">Utilisateur déjà enregistré</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-gray">
                        <p>Un utilisateur existe déjà avec les informations saisies</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if noUserExist %}
        <section class="modal fade newsletter divider" id="noUserExistModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-gray">Utilisateur inconnu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-gray">
                        <p>Aucun utilisateur n'a été trouvé avec les informations saisies</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if wrongPassword %}
        <section class="modal fade newsletter divider" id="wrongPasswordModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-gray">Connexion impossible</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-gray">
                        <p>Aucun utilisateur n'a été trouvé avec les informations saisies</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
