{% extends "base.html.twig" %}

{% block body %}

<section class="featured-posts no-padding-top">
    <div class="container">
        <div class="row">
            <main class="col-lg-8">
                <div class="container">
                    {% for post in posts %}
                        <div class="row d-flex align-items-stretch">
                            {% if loop.index is divisible by(2) %}
                                <div class="image col-lg-5"><img src="img/{{ post.img }}" alt="..."></div>
                            {% endif %}
                            <div class="text col-lg-7">
                                <div class="text-inner d-flex align-items-center">
                                    <div class="content">
                                        <header class="post-header">
                                            <div class="category text-orange">{{ post.category }}</div>
                                            <a href="{{ post.url }}">
                                                <h2 class="h4">{{ post.title }}</h2>
                                            </a>
                                            <div class="date">Dernière mise à jour : {{ post.lastUpdate | date(U) }}</div>
                                        </header>
                                        <p>{{ post.content | slice(0, 200) }} ...</p>
                                        <footer class="post-footer d-flex align-items-center">
                                            <div class="avatar"><img src="img/{{ post.user.avatar }}" alt="..." class="img-fluid"></div>
                                            <div class="padding-post-footer">
                                                <div class="title">{{ post.user.firstname }}</div>
                                                <div class="title">{{ post.user.lastname }}</div>
                                            </div>
                                            <div class="date padding-post-footer"> {{ post.creationDate | date(U)}}</div>
                                            <div class="padding-post-footer">
                                                <div class="comments"><i class="icon-comment"></i></div>
                                                <div>{{ post.nbComments }}</div>
                                            </div>

                                        </footer>
                                    </div>
                                </div>
                            </div>
                            {% if loop.index is not divisible by(2) %}
                                <div class="image col-lg-5"><img src="img/{{ post.img }}" alt="..."></div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <nav  class="post-footer" aria-label="Page navigation example">
                        <ul class="pagination pagination-template d-flex justify-content-center">
                            <li class="page-item{% if currentPage == 1 %} disabled {% endif %}"><a href="/P5-blog/public/?p=post&page={{ currentPage - 1 }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                            {% for numPage in 1..nbPages %}
                                <li class="page-item{% if currentPage == numPage %} active {% endif %}"><a href="/P5-blog/public/?p=post&page={{ numPage }}" class="page-link">{{ numPage }}</a></li>
                            {% endfor %}
                            <li class="page-item{% if currentPage == nbPages %} disabled {% endif %}"><a href="/P5-blog/public/?p=post&page={{ currentPage + 1 }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>

                </div>
            </main>
            <aside class="col-lg-4">
                {% include 'latestPosts.html.twig' with latestCommentedPosts %}

                {% include 'categories.html.twig' with categories %}
            </aside>
        </div>
    </div>
</section>



{% endblock %}
